.box-container {
    overflow-y: auto;
    background-color: white;
    border-radius: 8px;
    // margin: 3vh auto;
    box-shadow: 0px 3px 6px #00000029;

    height: fit-content; //could b overwritten on id
    // max-height: 80vh;
    margin-bottom: 4vh;
}
