@import "../consts/colors.scss";

$nice-dates-color-gray-dark: $blue;
$nice-dates-color-gray: #999;
$nice-dates-color-gray-light: #ddd;
$nice-dates-color-accent: $nice-dates-color-gray-dark;

@import "react-nice-dates/src/style.scss";

#date-ranger-picker-container {
    background-color: white;
    width: 25vw;
    position: absolute;
    top: 5vh;
    left: 0;
    z-index: 2;
}
#date-ranger-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
