@import "../consts/colors.scss";
.cursor-pointer{
    cursor: pointer;
}
.blue {
    color: $blue;
}
.hidden {
    height: 0 !important;
    margin-bottom: 0 !important;
    overflow: hidden !important;
}
.hidden-width{
    //we add padding to avoid unwanted padding when hidden
    margin: 0 !important;
    overflow: hidden !important;
    width: 0 !important;
}
.hidden-show-up-container{
    margin-bottom: 0 !important;
    max-height: 0 !important;
    pointer-events: none;
    transition: margin-bottom 2s , max-height 3s ;
}
::placeholder {
    color: $blue;
    opacity: 1;
}
//the visible row
.outside-visible-label {
    height: 2.8vh;
    font-size: 3.3vh;
    font-weight: bold;
    padding-bottom: 3vh;
    padding-top: 2vh;
    align-items: center;
    display: flex;
    #plus-icon-img {
        height: 2.5vh;
        padding-left: 2vh;
    }
    
}
#add-category-minor-label{
    padding: 1vh;
}
//when hovering over the icon , hint will activate
#hint-icon-container:hover + .container-add-field-hidden-row {
    max-height: 30vh;
    .hint {
        border: 1px solid black;
        max-height: 30vh;
        overflow: none;
        -webkit-transform:translateY(0px);
        -moz-transform:translateY(0px);
        transform:translateY(0px);
         -webkit-transition: all 1.5s ;
        -moz-transition: all 1.5s ;
        transition: all 1.5s ;
        margin-top: 2vh;
        padding: 1vh 1vh 1vh 1vh;
    }   
} 
.show-up-container-textarea > #hint-icon-container{
    position: relative;
    bottom: 4vh;
}
//*contain all the elements exepct the top element, the pressable button which open all of this
#show-up-container{
    margin-bottom: 2vh;
    transition: margin-bottom 2s , max-height 2s ;
    max-height: 30vh;

    //*hint icon container, inline display so he can be on the same line as the input div
    #hint-icon-container{
        display: inline-block;
        margin-left: 2vh;
        vertical-align: middle;
    }
    .hint{
        //! this make the padding transition not change width so text wont jump
        box-sizing: content-box;
        margin-top: 0vh;
        
        letter-spacing: 1.2px;
        background-color:#f1f2f3;
        color: $blue;
        font-size: 2vh;
        padding: 0vh 0vh 0vh 0vh;
        width: 65%;
        border-radius: 6px;  
        max-height: 0;
        -webkit-transition: all 1.5s ;
        -moz-transition: all 1.5s ;
        transition: all 1s ;
        overflow: hidden;
    }
    #hint-icon{
        width: 3vh;
    }
    //*different heights for different elements, special is the add remove element right now
    .input , .special{
        height: 5vh;
        max-height: 5vh;
    }
    .input-container , .special-container{
        height: 5vh;
    }
    .visible-only{
        .add-field-mainElem{
            background-color: 828a92 ;
            pointer-events: none;
            
        }
    }
    .button-container{
        height: 5vh;
    }
    .textarea{
        height: 9vh;
    }
    .textarea-container{
        height: 9vh;
    }
    
    .button + .hint-available{
        width: 100% ;
    }
    .button > #add-field-mainElem-container > .add-field-mainElem{
        margin:auto;
        border-radius:15px ;
        text-align: center;
        padding: 0 ;
        color: white;
        
        vertical-align: middle;
        background-color: $blue ;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        position: relative;
    }
    //container of the mainelement, minor element and warning element
    .container-add-field-hidden-row{
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    width: 93%;
    transition: height 1.5s  , margin-bottom 1.5s ;
        .add-category-warning-container{
            width: 45%;
            #add-field-warning{
                overflow: hidden ;
                transition: width 3s , margin-right 3s ;
                white-space: nowrap; 
                color: red;
                display : flex;
                align-items : center;
                height: 100% ;
                width: 100vw;
                margin-right: 2vh;
            }
        }
    }
    //* need this combinator to win the fight of the width decleration with .add-field-mainElem
    .button-container > .button{
        height: 5vh;
        width:35% ;
    }
    .add-field-hidden-row {
        transition: height 1.5s  , margin-bottom 1.5s ;
        width: 100%;
        flex-direction: row;
        display: inline-flex;
        .display-width{
            width: 100% !important;
        }
        #add-field-minorElem {
            width: 25%;
            font-size: 2.7vh;
            justify-content: space-around;
            display: flex;
            align-items: center;
        }
        .add-field-mainElem {
            border-radius: 4px;
            width: 100%;
            height: 100%;
            border: none;
            padding-right: 1.5vh;
            font-size: 2.1vh;
            background-color: #f1f2f3;
        }
        #add-field-mainElem-container {
            width:70%;
        }
        .files-uploader {
           position: absolute;
           opacity: 0;
           font-size: 0;
           visibility: hidden;
        }
    }
}

