@import '../consts/colors.scss';

#add-question-form {
    textarea {
        resize: none;
        background-color: $bg-grey;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 3%;
        width: 100%;
        color: $text-grey;
        font-size: 2vh;
    }
    .small {
        height: 10vh;
    }
    .big {
        height: 15vh;
    }
}
