@import "../consts/colors.scss";

.user-data-row {
    display: flex;
    padding: .5vh 0;
    .field {
        font-weight: bold;
        width: 20%;
    }
    .user-info {
        font-size: 2.2vh;
        color: $blue;
    }
    .value {
        width: 25%;
    }
}