@import "../consts/colors.scss";
.generic-container{
    cursor: pointer;
    display: flex;
    padding: 2vh 3vw;
    border-bottom: 1px #eaeaea solid; 
    .label{
        color: $blue;
        font-size: 3vh;
        flex: 5;
    }
    .element-in-row{
        display: flex;
        width: 100%;
    }
    .icon-img{
        height: 2.4vh;
    }
    .icons-container{
        flex: 1;
        justify-content: space-around;
    }
}
