@import '../consts/colors.scss';

.no-data-available {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vh;
    color: $stats-blue;
}

#s-duration-avg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .no-data-available {
        color: white;
    }
} // inside the blue square