@import "../../../consts/colors.scss";

.sector-container {
    display: flex;
    width: 100%;
    margin: 2vh 0;
    height: 4vh;
    font-size: 2.2vh;
    min-height: fit-content;
    font-weight: 600;
    .sector-name {
        flex: 30%;

        display: flex;
        align-items: center;
    }
    .sector-count {
        flex: 10%;

        display: flex;
        align-items: center;
    }
    .sector-bar {
        flex: 60%;
        .sector-bar-fill {
            float: right;
            z-index: 1;
            height: 100%;
        }
    }
}
