@import "../../../consts/colors.scss";

.horizontal-bar {
    width: 95%;
    margin: auto;
    .tooltips {
        display: flex;
        justify-content: space-between;
        .women-tooltip {
            color: $stats-light-blue;
            cursor: default;
        }
        .other-tooltip {
            color: $stats-sea-green;
            cursor: default;
        }
        .men-tooltip {
            color: $stats-red;
            cursor: default;
        }
    }
    .display {
        opacity: 1;
        transition: opacity 1s;
    }
    .no-display {
        opacity: 0;
        transition: opacity 1s;
    }
    .bar {
        height: 3vh;
        display: flex;
        .women {
            background-color: $stats-light-blue;
            height: 100%;
        }
        .other {
            background-color: $stats-sea-green;
            height: 100%;
        }
        .men {
            background-color: $stats-red;
            height: 100%;
        }
    }
}
