@import "../../../consts/colors.scss";

.table-limit-container {
    padding: 3vh 3vh 1vh 3vh;
    .table-limit {
        font-size: 2.2vh;
        width: 100%;
        border-collapse: collapse;

        thead {
            background-color: $stats-light-blue;
            tr {
                height: 4vh;
                text-align: center;
                color: white;
                th {
                    font-weight: normal;
                }
                th:first-child {
                    text-align: right; // override
                    padding-right: 1vh; // to be same as body's
                }
            }
        }
        tbody {
            tr {
                height: 5vh;
                text-align: center;
                td:first-child {
                    text-align: right; // override
                    padding-right: 1vh;
                    color: $stats-blue;
                }
                .good {
                    color: $stats-sea-green;
                    font-weight: bold;
                }
                .intermediate {
                    font-weight: bold;
                    color: #707070;
                }
                .bad {
                    color: $stats-red;
                    font-weight: bold;
                }
                border-bottom: 1px solid rgba(142, 142, 142, 0.53);
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}
