#courses-page {
    font-family: "assistant", sans-serif;
    width: vw(100);
    height: vh(100);
    overflow: hidden;
    .campus-il {
        display: block;
        margin: 0 auto 3% auto;
        width: 70%;
    }
    #campus-il-btn {
        background-color: #61A407;
        color: white;
        font-size: 2.5vh;
        font-weight: bold;
        border-radius: 100px;
        margin: auto;
        padding: 1.5%;
        width: fit-content;
        height: fit-content;
        &:hover {
            cursor: pointer;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .dont-show {
        opacity: 0;
    }
}
