@import "./colors.scss";

.no-user-select {
    -moz-user-select: none;
    -webkit-user-select: none;
}
.width85 {
    width: 85vw;
    margin: 0 auto;
}
.width50 {
    width: 50vw;
    // margin: 0 auto;
}
.no-margin {
    margin: 0 !important;
}

.no-scroller::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.generic-title {
    font-size: 3vh;
    color: $blue;
    font-weight: bold;
}

.page-title {
    width: fit-content;
    margin: 2% 0;
}

.clickable {
    cursor: pointer;
}
.good {
    color: green;
}
.intermediate {
    color: #707070;
}
.bad {
    color: red;
}
.total {
    color: #103d6b;
}
.return-button-div {
    color: $blue;
    font-weight: bold;
    font-size: 2.2vh;
    display: flex;
    align-items: center;
    padding: 5vh 0 3vh 0;
    &:hover {
        cursor: pointer;
    }
    img {
        width: 26px;
        padding-left: 1vh;
    }
}

.opacity0 {
    opacity: 0;
}
.generic-show-up-submit-container {
    padding: 3vh 3vw 0 0;
}
