$blue: #103d6b;
$blue-opacity31: #4f103d6b;
$light-blue: #26b7ec;
$bg-grey: #f1f2f3;
$table-header: #f0f0f0;
$input-bg-color: #bcbccb33;
$pie-chart-colors: rgb(255, 202, 40), rgb(38, 166, 154), rgb(236, 64, 122), rgb(66, 165, 245), rgb(255, 112, 67),
    rgb(156, 204, 101);
$stats-light-blue: #97bcdf;
$stats-sea-green: #64a489;
$stats-red: #b44923;
$stats-blue: #103d6b;
$text-grey: #707070;
