@import "../consts/colors.scss";

    .ddq-square{
        border: 2px solid #959595;
        border-radius: 5px;
        // padding :0.5vh;
        // margin: 0.5vh;
        font-size: 2vh;
        // background-color: rgba(250, 250, 250, 0.534);
        background-color: white;
        text-align: center;
        height: fit-content;
        position: absolute;
        
    }

    .ddq-correct{
        border-radius: 5px;
        border: 2px solid limegreen;
      }

      .ddq-dont-know{
        border-radius: 5px;
        border: 2px solid $stats-blue;
      }
      .ddq-incorrect{
        border-radius: 5px;
        border: 2px solid red;
      }