 $fs: 2s;

 @mixin fade-out-mixin {
    -webkit-animation: fadeout $fs; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout $fs; /* Firefox < 16 */
    -ms-animation: fadeout $fs; /* Internet Explorer */
    -o-animation: fadeout $fs; /* Opera < 12.1 */
    animation: fadeout $fs;
    // animation-fill-mode: both;

  }
  .fade-out {
    @include fade-out-mixin;
    }


@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }