@import "../../consts/colors.scss";
.cursor-pointer {
    cursor: pointer;
}
#categories-page-container {
    .blue {
        color: $blue;
    }
    #title-categories-page {
        font-size: 3.4vh;
    }
    #categories-box {
        padding: 4vh 5vw;
    }
    .generic-container:last-child {
        border-bottom: none;
    }
    #textarea-input {
        overflow: hidden;
    }
    #uplaod-file-container {
        align-self: center;
        height: 3vh;
        display: flex;
        background: transparent 0% 0% no-repeat padding-box;
        background-color: $stats-blue;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 4px;
        opacity: 1;
        color: white;
        text-align: center;
    }
}
