@import "../../consts/colors.scss";

#specific-category-page {
    #title-and-add-question-row {
        display: flex;
        align-items: center;
        width: 90%;
        margin: auto;
        justify-content: space-between;
        #title-specific-category {
            font-size: 3.4vh;
        }
    }
    .specific-category {
        transition: height 2s;
    }
    .not-loaded {
        height: 0 !important;
    }
    .label {
        color: $blue;
        font-size: 3vh;
    }
}
