.my-style-table-all-questions {
    max-height: 65vh;
    overflow-y: scroll;
    #table-container {
        .tableHead th {
            font-size: 2.3vh;
            text-align: center;
        }
        .tableBodyStyle #td {
            font-size: 2.3vh;
            text-align: center;
            font-weight: bold;
        }
        .tableBodyStyle #td:first-child,
        .tableHead th:first-child {
            text-align: right;
            font-weight: normal;
        }
    }
}
#all-questions-title {
    margin-bottom: 5%;
    margin-top: 0;
    padding-right: 1.2vh;
}
