#questions-by-city-table-map-container{
    display: flex;
    height: 70vh;
    margin-bottom: 4vh;
    #questions-by-city-map-box{
        margin-right: 2vw;
        margin-bottom: 4vh;
        height: 100%;
    }
    #questions-by-city-map{
        width: 33vw;
        height: auto;
    }
    .my-style-table-city{
        #table-container{
        
            .tableHead th
            {
                font-size: 2vh;
                text-align: center;
            }
            .tableBodyStyle #td {
                font-size: 2vh;
                text-align: center;
                font-weight: bold;
            }
            .tableBodyStyle #td:first-child,
            .tableHead th:first-child {
                text-align: right;
                font-weight: normal;
            }
            .total{
                background-color: #f1f2f3;
                border-bottom: 2px solid #dee2e7
            }
        }
        
    }
}