@import "../consts/colors.scss";

#mobile-page {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;

    #mobile-logo {
        right: 5vh;
        top: 5vh;
        width: 30%;
        position: absolute;
    }
    #header {
        margin-top: 10%;
        text-align: center;
        align-self: center;
        font-family: "Heebo", sans-serif;
        font-size: 12vh;
        color: $blue;
        border-bottom: 2px solid $light-blue;
    }
    .text {
        width: 85%;
        font-family: "assistant", sans-serif;
        font-size: 8vh;
        color: $blue;
        align-self: center;
        text-align: center;
    }
    #desc {
        margin: 5vh auto;
    }
}
@media screen and (max-aspect-ratio: 1/1) {
    // vertical
    #mobile-page {
        #mobile-logo {
            position: unset;
            margin: 5vh auto;
            width: 50%;
        }
        #header {
            margin-top: 5%;
            font-size: 5vh;
        }
        .text {
            font-size: 4vh;
        }
    }
}
