@import "../../consts/colors.scss";

#organizations-page-container {
    .blue {
        color: $blue;
    }
    #title-organizations-page {
        font-size: 3.5vh;
    }
    #organizations-box {
        padding: 4vh 5vw 4vh 5vw;
    }
    .generic-container:last-child {
        border-bottom: none;
    }
    .add-organization-row {
        cursor: pointer;
        height: 2.8vh;
        font-size: 3vh;
        font-weight: bold;
        padding-bottom: 4vh;
        padding-top: 2vh;
        align-items: center;
        display: flex;
        #plus-icon-img {
            height: 2.5vh;
            padding-left: 2vh;
        }
    }

    .add-organization-hidden-row {
        transition: height 1.5s ease;
        width: 75%;
        height: 5vh;
        padding-right: 1vw;
        flex-direction: row;
        display: flex;
        #add-organization-hidden-label {
            cursor: pointer;
            width: 25%;
            font-size: 2.3vh;
            justify-content: space-around;
            display: flex;
            align-items: center;
        }
        #add-organization-input-container {
            width: 75%;
            #add-organization-input {
                width: 100%;
                height: 100%;
                border: none;
                padding-right: 1.5vw;
                font-size: 2vh;
                background-color: #f1f2f3;
            }
        }
    }
    #hidden {
        // display: none;
        height: 0;
        overflow: hidden;
    }

    ::placeholder {
        color: $blue;
        opacity: 1;
    }
}